In [28]:
from pathlib import Path
import requests




def download_one_file_of_data(year: int, month: int) -> Path:
    URL = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet"
    response = requests.get(URL)

    if response.status_code == 200:
        path = f"../data/raw/rides_{year}-{month:02d}.parquet"
        open(path, "wb").write(response.content)
        return path
    else:
        raise Exception(f"{URL} is not available")

In [29]:
download_one_file_of_data(2025,1)

'../data/raw/rides_2025-01.parquet'

In [30]:
import pandas as pd

data = pd.read_parquet("../data/raw/rides_2025-01.parquet")
data.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0
5,2,2025-01-01 00:48:24,2025-01-01 01:08:26,2.0,2.63,1.0,N,239,68,2,19.1,1.0,0.5,0.00,0.0,1.0,24.10,2.5,0.0,0.0
6,1,2025-01-01 00:14:47,2025-01-01 00:16:15,0.0,0.40,1.0,N,170,170,1,4.4,3.5,0.5,2.35,0.0,1.0,11.75,2.5,0.0,0.0
7,1,2025-01-01 00:39:27,2025-01-01 00:51:51,0.0,1.60,1.0,N,234,148,1,12.1,3.5,0.5,2.00,0.0,1.0,19.10,2.5,0.0,0.0
8,1,2025-01-01 00:53:43,2025-01-01 01:13:23,0.0,2.80,1.0,N,148,170,1,19.1,3.5,0.5,3.00,0.0,1.0,27.10,2.5,0.0,0.0
9,2,2025-01-01 00:00:02,2025-01-01 00:09:36,1.0,1.71,1.0,N,237,262,2,11.4,1.0,0.5,0.00,0.0,1.0,16.40,2.5,0.0,0.0

In [31]:
data = data[["tpep_pickup_datetime",'PULocationID']]

In [32]:

data = data.rename(columns = {"tpep_pickup_datetime":"pickup_datetime",'PULocationID': "pickup_location_id"})

In [33]:
data.head()

      pickup_datetime  pickup_location_id
0 2025-01-01 00:18:38                 229
1 2025-01-01 00:32:40                 236
2 2025-01-01 00:44:04                 141
3 2025-01-01 00:14:27                 244
4 2025-01-01 00:21:34                 244

In [34]:
data["pickup_datetime"].describe()

count                       3475226
mean     2025-01-17 11:02:55.910964
min             2024-12-31 20:47:55
25%             2025-01-10 07:59:01
50%             2025-01-17 15:41:33
75%             2025-01-24 19:34:06
max             2025-02-01 00:00:44
Name: pickup_datetime, dtype: object

In [35]:
data = data[data["pickup_datetime"] >= "2025-01-01"]
data = data[data["pickup_datetime"] < "2025-02-01"]

In [36]:
data.describe()

                  pickup_datetime  pickup_location_id
count                     3475204        3.475204e+06
mean   2025-01-17 11:03:04.165774        1.651917e+02
min           2025-01-01 00:00:00        1.000000e+00
25%    2025-01-10 07:59:10.750000        1.320000e+02
50%    2025-01-17 15:41:36.500000        1.620000e+02
75%           2025-01-24 19:34:10        2.340000e+02
max           2025-01-31 23:59:59        2.650000e+02
std                           NaN        6.452945e+01

In [39]:
data.to_parquet("../data/transformed/validated_rides_2025-01.parquet")